<div class="container p-4">

  <div class="p-2 d-flex justify-content-between align-items-center">
    <h1 class="text-secondary m-0">{{ 'heroe.list_heroes' | translate }}</h1>
    <div class="mx-2">
      <button mat-mini-fab color="primary" (click)="openForm()" class="mx-2">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="mx-2">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeLanguage('es')">{{ 'language.spanish' | translate }}</button>
        <button mat-menu-item (click)="changeLanguage('en')">{{ 'language.english' | translate }}</button>
      </mat-menu>
    </div>
  </div>

  <div class="my-3">
    <mat-form-field class="w-100 mx-2" appearance="outline">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'shared.search' | translate }}">
      <span matSuffix><mat-icon class="mr-2">search</mat-icon></span>
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.name' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.created' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.createdAt | date: 'medium'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.updated' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'medium'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell class="actions" *matHeaderCellDef> {{ 'table.actions' | translate }} </mat-header-cell>
      <mat-cell class="actions" *matCellDef="let element">
        <button mat-icon-button (click)="openForm(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="destroy(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [length]="dataSource?.data.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 50, 100, 250]">
  </mat-paginator>

</div>
