<div [ngStyle]="data.style">
  <h2 mat-dialog-title>{{data.title}}</h2>

  <mat-dialog-content *ngIf="data.msgDialog">
    <div [innerHTML]="data.msgDialog"></div>
  </mat-dialog-content>

  <div *ngIf="data.component">
    <app-component [component]="data.component" [data]="data.data"></app-component>
  </div>

  <mat-dialog-actions class="mt-3 float-right" *ngIf="!data.buttons_disabled">
    <button mat-raised-button mat-dialog-close>{{ 'shared.close' | translate }}</button>
    <button *ngIf="!data.reading" class="ml-2" mat-raised-button color="primary" (click)="do()">{{ 'shared.accept' | translate }}</button>
  </mat-dialog-actions>
</div>
