<form [formGroup]="angForm">
  <div class="row">
    <div class="col-lg-12">
      <mat-form-field class="w-100">
        <mat-label>{{ 'heroe.form.name' | translate }}</mat-label>
        <input matInput formControlName="name" type="text">
        <mat-error *ngIf="angForm.get('name').hasError('required')">{{ 'shared.the-field' | translate }} {{ 'heroe.form.name' | translate }} <strong>{{ 'shared.is-required' | translate }}</strong></mat-error>
      </mat-form-field>
    </div>
  </div>
  <mat-dialog-actions class="mt-3 float-right">
    <button mat-raised-button mat-dialog-close>{{ 'shared.close' | translate }}</button>
    <button class="float-right" mat-raised-button type="submit" (click)="do()" color="primary">{{ 'shared.save' | translate }}</button>
  </mat-dialog-actions>
</form>
