/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.actions {
  max-width: 200px;
}

.actions button {
  color: #9a9a9a;
}
